body {
  background-color: #a3d5d3;;
}
.quote-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: white;
    -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 70px auto;
    max-width: 700px;
    padding: 40px;
    text-align: center;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  
  .quote-box div {
    background: gray;
    color: white;
    font-size: 20px;
    max-height: 200px;
    padding: 5px;
    resize: none;
    width: 500px;
  }
  
  .quote-box button {
    height: auto;
    margin: 5px;
    width: 100px;
  }
  
  .quote-box a.button {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    color: initial;
    height: 30px;
    margin: 5px;
    padding-top: 5px;
    text-decoration: none;
    width: 100px;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @-webkit-keyframes App-logo-spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  @keyframes App-logo-spin {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }